<h1>Listing qualificacaes</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Restaurante</th>
    <th>Nota</th>
    <th>Valor gasto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualificacaes.each do |qualificacao| %>
  <tr>
    <td><%= qualificacao.cliente.nome %></td>
    <td><%= qualificacao.restaurante.name %></td>
    <td><%= qualificacao.nota %></td>
    <td><%= qualificacao.valor_gasto %></td>
    <td><%= link_to 'Show', qualificacao %></td>
    <td><%= link_to 'Edit', edit_qualificacao_path(qualificacao) %></td>
    <td><%= link_to 'Destroy', qualificacao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qualificacao', new_qualificacao_path %>
