
<%# <%= render :partial => 'shared/nome_da_app' %> 

<h1>Listagem de Restaurantes</h1>

<table cellspacing="0" >
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Especialidade</th>
    <th colspan="3"> </th>
  </tr>

  <% @restaurantes.each do |rest| %>
    <tr>
      <td><%= rest.name %></td>
      <td><%= rest.endereco %></td>
      <td><%= rest.especialidade %></td>
      <td><%= link_to 'Show', { :action => 'show', :id => rest } %></td>
      <td><%= link_to 'Edit', { :action => 'edit', :id => rest } %></td>
      <td><%= link_to 'Destroy!!', { :action => 'destroy',  :id => rest } %></td>
    </tr>
  <% end %>
</table>

<br/><br/>

<%= link_to 'New restaurante <aqui>', { :action => 'new' } %>

    
